@model List<ControleEstoque.Web.Models.GrupoProdutoModel>
@{
    ViewBag.Title = "Cadastro de Grupo de produtos";
}
@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/bootstrap")
<div id="cadastro">
    <section id="cadasdtro_cabecalho">
        <h1>@ViewBag.Title</h1>
    </section>
    <section id="cadastro_conteudo">
        <div id="cabecalho_grid" class="row">
            <div class="col-md-12">
                <a id="btn_incluir" class="btn btn-success" role="button"><i class="glyphicon glyphicon-plus"></i> Incluir</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table id="grid_cadastro" class="table table-bordered table-striped table-hover">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nome</th>
                            <th>Ativo</th>
                            <th>Ação</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var grupoProduto in Model)
                        {
                            <tr id="@grupoProduto.id">
                                <td id="ID">@grupoProduto.id</td>
                                <td>@grupoProduto.Nome</td>
                                <td>@{ var ativo = (grupoProduto.Ativo ? "SIM" : "NÃO");} @ativo</td>
                                <td>
                                    <a class="btn btn-primary btn-alterar" role="button" onclick="alterarGrupoProduto(@grupoProduto.id)"><i class="glyphicon glyphicon-pencil"></i> Alterar</a>
                                    <a class="btn btn-danger btn-excluir" role="button" onclick="excluirGrupoProduto(@grupoProduto.id)"><i class="glyphicon glyphicon-trash"></i> Excluir</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</div>
@Html.Hidden("id_cadastro")
<div id="modal_cadastro" class="form-horizontal invisivel" role="dialog">
    <div id="primeira_msg_aviso" class="text-danger invisivel"></div>
    <fieldset>
        <div class="row">
            <div class="form-group">
                @Html.Label("txt_nome", "Nome", new { @class = "col-md-3 control-label" }) 
                @Html.TextBox("tb_nome", null, new { @class = "form-control" })              
            </div>
            <div class="form-group">
                @Html.Label("txt_ativo", "Ativo", new { @class = "col-md-3 control-label" })              
                @Html.CheckBox("cb_ativo")             
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <div class="modal-footer">
                        <a id="btn_sair" class="btn btn-default" role="button" data-dismiss="modal"><i class="glyphicon glyphicon-remove"> Sair</i></a>
                        <a id="btn_confirmar" class="btn btn-primary" role="button" onclick="salvarGrupoProduto()"><i class="glyphicon glyphicon-ok"> Salvar</i></a>
                    </div>
                    <div id="msg_aviso" class="alert alert-warning invisivel">Preencha os campos acima.</div> 
                    <div id="msg_erro" class="alert alert-danger invisivel">Vixi! Deu ruim! =(</div> 
                </div>
            </div>
        </div>
    </fieldset>
</div>

@section Scripts{
    <script>
        function abrirForm(dados) {
            $('#id_cadastro').val(dados.id);
            $('#tb_nome').val(dados.Nome);
            $('#cb_ativo').prop('checked', dados.Ativo);

            var modalCadastro = $('#modal_cadastro');

            $('#msg_erro').hide();
            $('#primeira_msg_aviso').hide().empty();
            $('#msg_aviso').hide();  

            bootbox.dialog({
                title: '@ViewBag.Title',
                message: modalCadastro
            })
            .on('shown.bs.modal', () => {
                modalCadastro.show(0, () => $('#tb_nome').focus());
            })
            .on('hidden.bs.modal', () => {
                modalCadastro.hide().appendTo('body');
            })
        }

        $(document).on('click', '#btn_incluir', () => {
            abrirForm({id:0, Nome:'', Ativo:true });
        });

        function alterarGrupoProduto(id) {
            var url = '@Url.Action("RecuperarGrupoProduto", "Cadastro")',
            param = { id: id };

            $.post(url, param, (response) => {
                if (!response.erro) {
                    abrirForm(response);
                }
                else {
                    alert('Erro ao recuperar dados do grupo de produto');
                }
            });
        }

        function excluirGrupoProduto(id) {
            var url = '@Url.Action("ExcluirGrupoProduto", "Cadastro")',
                param = { id: id },
                tr = $(`#${id}`);

            console.log(tr);
            bootbox.confirm({
                message: 'Você tem certeza que deseja excluir esse grupo de produto?',
                buttons: {
                    confirm: {
                        label: 'Sim',
                        className: 'btn-success'
                    },
                    cancel: {
                        label: 'Não',
                        className: 'btn-danger'
                    }
                },
                callback: (result) => {
                    if (result) {
                        $.post(url, param, (response) => {
                            if (response) {
                                tr.remove();
                            }
                        })
                    }
                }

            })
        }

        function criarLinhaGrid(dados) {
            var ret =
                `<tr id="${dados.id}">` +
                `<td id="ID">${dados.id}</td>` +
                `<td>${dados.Nome}</td>` +
                `<td>${dados.Ativo ? 'SIM' : 'NÃO'}</td>` +
                `<td>` +
                `<a class="btn btn-primary btn-alterar" role="button" style="margin-right: 3px" onclick="alterarGrupoProduto(${dados.id})"><i class="glyphicon glyphicon-pencil"></i> Alterar</a>` +
                `<a class="btn btn-danger btn-excluir" role="button" onclick="excluirGrupoProduto(${dados.id})"><i class="glyphicon glyphicon-trash"></i> Excluir</a>` +
                `</td>` +
                `</tr>`;

            return ret;
        }

        function salvarGrupoProduto() {
            var url = '@Url.Action("SalvarGrupoProduto", "Cadastro")',
                param = {
                    id: $('#id_cadastro').val(),
                    Nome: $('#tb_nome').val(),
                    Ativo: $('#cb_ativo').prop('checked'),
                };

            $.post(url, param, (response) => {
                if (response.id) {
                    if (param.id == 0) {
                        param.id = response.id;
                        var table = $('#grid_cadastro').find('tbody'),
                            linha = criarLinhaGrid(param);

                        table.append(linha);
                    }
                    else {
                        var linha = $('#grid_cadastro').find('tr[id =' + param.id + ']').find('td');
                        linha
                            .eq(1).html(param.Nome).end()
                            .eq(2).html(param.Ativo ? 'SIM' : 'NÃO');
                    }

                    $('#modal_cadastro').parents('.bootbox').modal('hide');
                } else if (response.MensagemErro) {
                    $('#primeira_msg_aviso').hide();
                    $('#msg_aviso').hide();
                    $('#msg_erro').show();
                } else if (response.MensagensAviso) {
                    $('#msg_erro').hide();
                    $('#primeira_msg_aviso').show().html(formatarMensagemAviso(response.MensagensAviso));
                    $('#msg_aviso').show();                 
                }
            });
        }

        function formatarMensagemAviso(mensagens) {
            var ret = '';

            for (var i = 0; i < mensagens.length; i++) {
                ret += '<li>' + mensagens[i] + '</li>';
            }

            return '<ul>' + ret + '</ul>';
        }
    </script>
}
